In [1]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
!pip install pandas
# !pip install requests==2.26.0

[+] 0.0s
[+] 0.1s
conda-forge/linux-64 ━━━━━━━━━━━━━━━━━━━━━━━  14.1kB /  45.9MB @ 229.4kB/s  0.0s
[+] 0.2s━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.0s
conda-forge/linux-64 ━╸━━━━━━━━━━━━━━━━━━━━━   5.1MB /  45.9MB @  31.4MB/s  0.1s
[+] 0.3s━━━━━━━━━━━━   3.7MB /  21.7MB @  22.0MB/s  0.1s
conda-forge/linux-64 ━━━╸━━━━━━━━━━━━━━━━━━━   8.5MB /  45.9MB @  30.4MB/s  0.2s
[+] 0.4s━━━━━━━━━━━━   6.9MB /  21.7MB @  24.8MB/s  0.2s
conda-forge/linux-64 ━━━━╸━━━━━━━━━━━━━━━━━━  11.1MB /  45.9MB @  28.1MB/s  0.3s
[+] 0.5s━━━━━━━━━━━━   9.7MB /  21.7MB @  24.3MB/s  0.3s
conda-forge/linux-64 ━━━━━╸━━━━━━━━━━━━━━━━━  12.4MB /  45.9MB @  27.0MB/s  0.4s
[+] 0.6s━━━━━━━━━━━━  10.7MB /  21.7MB @  23.5MB/s  0.4s
conda-forge/linux-64 ━━━━━━╸━━━━━━━━━━━━━━━━  14.7MB /  45.9MB @  25.7MB/s  0.5s
[+] 0.7s━╸━━━━━━━━━━  12.7MB /  21.7MB @  22.6MB/s  0.5s
conda-forge/linux-64 ━━━━━━━━╸━━━━━━━━━━━━━━  18.8MB /  45.9MB @  27.7MB/s  0.6s
[+] 0.8s━━━━━╸━━━━━━  16.8MB /  21.7MB @  25.2MB/s  0.6s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  0.7s
[+] 0.9s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  0.7s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  0.8s
[+] 1.0s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  0.8s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  0.9s
[+] 1.1s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  0.9s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  1.0s
[+] 1.2s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  1.0s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  1.1s
[+] 1.3s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  1.1s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  1.2s
[+] 1.4s━━━━━━━━━━╸━  21.0MB /  21.7MB @  27.2MB/s  1.2s
conda-forge/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━  23.0MB /  45.9MB @  29.4MB/s  1.3s
conda-forge/noarch                                  21.7MB @  27.2MB/s  1.3s
[+] 1.5s
[+] 1.6s━━━━━━━━━╸━━━━━━━━━━  27.1MB /  45.9MB @  18.6MB/s  1.4s
[+] 1.7s━━━━━━━━━━━━━╸━━━━━━  34.4MB /  45.9MB @  22.0MB/s  1.5s
[+] 1.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  1.6s
[+] 1.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  1.7s
[+] 2.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  1.8s
[+] 2.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  1.9s
[+] 2.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.0s
[+] 2.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.1s
[+] 2.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.2s
[+] 2.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.3s
[+] 2.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.4s
[+] 2.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.5s
[+] 2.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.6s
[+] 2.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.7s
[+] 3.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.8s
[+] 3.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  2.9s
[+] 3.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.0s
[+] 3.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.1s
[+] 3.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.2s
[+] 3.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.3s
[+] 3.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.4s
[+] 3.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.5s
[+] 3.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.6s
[+] 3.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.7s
[+] 4.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.8s
[+] 4.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  3.9s
[+] 4.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.0s
[+] 4.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.1s
[+] 4.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.2s
[+] 4.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.3s
[+] 4.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.4s
[+] 4.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.5s
[+] 4.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.6s
[+] 4.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.7s
[+] 5.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.8s
[+] 5.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  4.9s
[+] 5.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.0s
[+] 5.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.1s
[+] 5.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.2s
[+] 5.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.3s
[+] 5.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.4s
[+] 5.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.5s
[+] 5.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.6s
[+] 5.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.7s
[+] 6.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.8s
[+] 6.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  5.9s
[+] 6.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.0s
[+] 6.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.1s
[+] 6.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.2s
[+] 6.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.3s
[+] 6.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.4s
[+] 6.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.5s
[+] 6.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.6s
[+] 6.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.7s
[+] 7.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.8s
[+] 7.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  6.9s
[+] 7.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.0s
[+] 7.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.1s
[+] 7.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.2s
[+] 7.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.3s
[+] 7.6s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.4s
[+] 7.7s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.5s
[+] 7.8s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.6s
[+] 7.9s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.7s
[+] 8.0s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.8s
[+] 8.1s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  7.9s
[+] 8.2s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  8.0s
[+] 8.3s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  8.1s
[+] 8.4s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  8.2s
[+] 8.5s━━━━━━━━━━━━━━━━╸━━━  41.9MB /  45.9MB @  25.1MB/s  8.3s
conda-forge/linux-64                                45.9MB @  25.1MB/s  8.5s
DEPRECATION: --no-python-version-warning is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to remove the flag as it's a no-op. Discussion can be found at https://github.com/pypa/pip/issues/13154

Pinned packages:

  - python=3.12

Pinned packages:

  - python=3.12


Transaction

  Prefix: /opt/conda

  Updating specs:

   - bs4==4.10.0


  Package           Version  Build         Channel          Size
──────────────────────────────────────────────────────────────────
  Install:
──────────────────────────────────────────────────────────────────

  + bs4              4.10.0  hd8ed1ab_0    conda-forge       4kB

  Downgrade:
──────────────────────────────────────────────────────────────────

  - beautifulsoup4   4.12.3  pyha770c72_1  conda-forge     118kB
  + beautifulsoup4   4.10.0  pyha770c72_0  conda-forge      79kB

  Summary:

  Install: 1 packages
  Downgrade: 1 packages

  Total download: 84kB

──────────────────────────────────────────────────────────────────



Transaction starting
[+] 0.0s
Downloading      -----------------------   0.0 B                            0.0s
bs4                                                  4.3kB @  79.1kB/s  0.0s                 0.0s
beautifulsoup4                                      79.2kB @  ??.?MB/s  0.0s
[+] 0.1s
Downloading      -----------------------  83.5kB                            0.0s
Unlinking beautifulsoup4-4.12.3-pyha770c72_14m---------------------       0 beautifulsoup4             0.0s
Linking beautifulsoup4-4.10.0-pyha770c72_0
Linking bs4-4.10.0-hd8ed1ab_0

Transaction finished

Collecting lxml==4.6.4
  Downloading lxml-4.6.4.tar.gz (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 110.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [5 lines of output]
      /tmp/pip-install-iibci4gt/lxml_10f31105f5ae4edeb5f0d4975a07e20f/setup.py:67: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
        import pkg_resources
      Building lxml version 4.6.4.
      Building without Cython.
      Error: Please make sure the libxml2 and libxslt development packages are installed.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
conda-forge/linux-64                                        Using cache
conda-forge/noarch                                          Using cache
DEPRECATION: --no-python-version-warning is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to remove the flag as it's a no-op. Discussion can be found at https://github.com/pypa/pip/issues/13154

Pinned packages:

  - python=3.12

Pinned packages:

  - python=3.12


Transaction

  Prefix: /opt/conda

  Updating specs:

   - html5lib==1.1


  Package     Version  Build         Channel         Size
───────────────────────────────────────────────────────────
  Install:
───────────────────────────────────────────────────────────

  + html5lib      1.1  pyhd8ed1ab_2  conda-forge     95kB

  Summary:

  Install: 1 packages

  Total download: 95kB

───────────────────────────────────────────────────────────



Transaction starting
[+] 0.0s
Downloading      -----------------------   0.0 B                            0.0s
html5lib                                            94.9kB @ 191.3kB/s  0.0s.0s
[+] 0.1s
Downloading      -----------------------  94.9kB                            0.0s
Linking html5lib-1.1-pyhd8ed1ab_20;002m-------------       0 html5lib                   0.0s

Transaction finished

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 165.8 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 205.7 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.1 tzdata-2025.2

In [2]:
pip install --upgrade beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.12/site-packages (4.10.0)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.12/site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/conda/lib/python3.12/site-packages (from beautifulsoup4) (4.12.2)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
      Successfully uninstalled beautifulsoup4-4.10.0
Successfully installed beautifulsoup4-4.13.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import warnings
warnings.simplefilter("ignore")

In [5]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [6]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [7]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [8]:
soup = BeautifulSoup(html, "html.parser")

In [9]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [10]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [11]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [12]:
tag_object=soup.h3
tag_object

In [13]:
tag_child =tag_object.b
tag_child

In [14]:
tag_child =tag_object.b
tag_child

In [15]:
parent_tag=tag_child.parent
parent_tag

In [16]:
tag_object

In [17]:
tag_object.parent

In [18]:
tag_object.parent

In [20]:
sibling_1=tag_object.next_sibling
sibling_1
sibling_2=sibling_1.next_sibling
sibling_2

In [21]:
sibling_2.next_sibling

In [22]:
tag_child['id']

'boldest'

In [23]:
tag_child.attrs

{'id': 'boldest'}

In [24]:
tag_child.get('id')

'boldest'

In [26]:
tag_string=tag_child.string
tag_string
type(tag_string)

bs4.element.NavigableString

In [27]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [28]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [29]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [30]:
table_bs = BeautifulSoup(table, "html.parser")

In [31]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [32]:
first_row =table_rows[0]
first_row

In [33]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [34]:
first_row.td

In [35]:
first_row.td

In [36]:
first_row.td

In [37]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [38]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
colunm 2 cell <td>80 kg</td>

In [39]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [40]:
table_bs.find_all(id="flight")

In [41]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [42]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [43]:
soup.find_all(id="boldest")

In [44]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [45]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [46]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [47]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [48]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [49]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [50]:
url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"

In [51]:
data  = requests.get(url).text

In [52]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

In [53]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://web.archive.org/web/20230224123642/https://www.ibm.com/reports/threat-intelligence/
https://web.archive.org/web/20230224123642/https://www.ibm.com/about
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/strategy/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/ibmix?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/technology/
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/operations/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/strategic-partnerships
https://web.archive.org/web/20230224123642/https://www.ibm.com/employment/?lnk=flatitem
https://web.archive.org/web/20230224123642/https://www.ibm.com/impact
https://web.archive.org/web/20230224123642/https://research.ibm.com/
https://web.archive.org/web/20230224123642/https://www.ibm.com/

In [54]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Person standing with arms crossed" aria-describedby="bx--image-1" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
<img alt="Team members at work in a conference room" aria-describedby="bx--image-2" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
<img alt="Coworkers looking at laptops" aria-describedby="bx--image-3" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
<img alt="Cloud developer with red sweater coding at desk" aria-describedby="bx--image-4" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" aria-describedby="bx--image-5" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" aria-describedby="bx--image-6" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

In [55]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [56]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [57]:
soup = BeautifulSoup(data,"html.parser")

In [58]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [59]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

In [60]:
import pandas as pd

In [61]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [62]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [63]:
soup = BeautifulSoup(data,"html.parser")

In [64]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [65]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

26

In [66]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [67]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
  <sup class="reference" id="cite_ref-:10_106-0">
   <a href="#cite_note-:10-106">
    <span class="cite-bracket">
     [
    </span>
    101
    <span class="cite-bracket">
     ]
    </span>
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/40px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/60px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="307" data-file-width="512" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/40px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/60px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon nowrap">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/40px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/60px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/Palestine" title="Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-107">
      <a href="#cite_note-107">
       <span class="cite-bracket">
        [
       </span>
       note 3
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
     <sup class="reference" id="cite_ref-108">
      <a href="#cite_note-108">
       <span class="cite-bracket">
        [
       </span>
       102
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/40px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/60px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
    <sup class="reference" id="cite_ref-109">
     <a href="#cite_note-109">
      <span class="cite-bracket">
       [
      </span>
      note 4
      <span class="cite-bracket">
       ]
      </span>
     </a>
    </sup>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/40px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/60px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="1920" data-file-width="2880" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/40px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/60px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/40px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/60px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/40px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/60px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/40px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/60px-Flag_of_Israel.svg.png 2x" width="21"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,402,617
   </td>
   <td>
    21,937
   </td>
   <td>
    429
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon nowrap">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/40px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/60px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
 </tbody>
</table>

In [68]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        rank = col[0].text.strip()
        country = col[1].text.strip()
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()

        # Create a temporary DataFrame for the new row
        new_row = pd.DataFrame([{"Rank": rank, "Country": country, "Population": population, "Area": area, "Density": density}])

        # Use concat 
        population_data = pd.concat([population_data, new_row], ignore_index=True)

population_data

  Rank                 Country     Population       Area Density
0    1               Singapore      5,921,231        719   8,235
1    2              Bangladesh    165,650,475    148,460   1,116
2    3  Palestine[note 3][102]      5,223,000      6,025     867
3    4          Taiwan[note 4]     23,580,712     35,980     655
4    5             South Korea     51,844,834     99,720     520
5    6                 Lebanon      5,296,814     10,400     509
6    7                  Rwanda     13,173,730     26,338     500
7    8                 Burundi     12,696,478     27,830     456
8    9                  Israel      9,402,617     21,937     429
9   10                   India  1,389,637,446  3,287,263     423

In [69]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][102]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                  Israel     9402617       21937                429
 9    10                   India  1389637446     3287263                423]

In [70]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423

In [71]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [72]:
len(dataframe_list)

26

In [73]:
dataframe_list[5]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423

In [74]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423